@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --first-color: rgb(59, 61, 61);
    --second-color: rgb(37, 175, 209);
    --third-color: rgb(19, 11, 139);
    --fourth-color: rgb(8, 85, 40);
    --fifth-color: rgb(2, 2, 2);
    --sixth-color: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

a {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 40px 80px;
}

#footer_one p {
    font-size: 0.8rem;
    padding-bottom: 8px;
}

#footer_one--one {
    color: var(--fifth-color);
    font-weight: 700;
    font-size: 1rem;
    padding-bottom: 10px;
}

#footer_two {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(204, 203, 203);
}

#footer_two input {
    border: none;
    padding: 5px 0 5px 25px;
}

#footer_two p {
    background-color: var(--third-color);
    color: var(--sixth-color);
    padding: 15px;
    margin: 5px;
    border-radius: 3px;
}