#backdrop {
    background-color: rgb(64 60 60 / 65%);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    display: none;
}

header {
    display: flex;
    /* background-color: var(--second-color); */
    justify-content: center;
}

#ri-section {
    background-color: var(--sixth-color);
    padding: 40px 0 0 120px;
}

#ri-section__one {
    display: flex;
    align-items: center;
}

#mobile__section {
    display: none;
}

#ri-section__one img {
    padding-right: 1.5625rem;
}

#ri-section__one p {
    padding: 0 0.625rem;
}

#ri-section__two {
    margin-top: 130px;
}

#ri-section__two--two {
    width: 70%;
}

#ri-section__two h2 {
    font-weight: 800;
    font-size: 2.5rem;
    width: 70%;
    color: var(--third-color);
    padding-bottom: 15px;
    line-height: 40px;
}


#ri-section__three {
    display: flex;
    padding: 13px 0;
}


#ri-section__three--one {
    background-color: var(--third-color);
    color: var(--sixth-color);
    padding: 15px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 800px;
    cursor: pointer;
}

#ri-section__three--two {
    padding: 15px;
}

#ri-section__four {
    display: flex;
    align-items: center;
}

#ri-section__four p {
    padding-left: 10px;
}

#ri-section__four span {
    text-decoration: underline;
    font-weight: 600;
    color: rgb(110, 111, 112);
}

#le-section {
    background-color: var(--second-color);
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

#le-section__one {
    margin: 20px;
    cursor: pointer;
}

#le-section__one p {
    background-color: var(--third-color);
    color: var(--sixth-color);
    padding: 15px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 800px;
}

#le-section__two {
    width: 50vw;
}

#middle {
    display: flex;
    justify-content: center;
    height: 40vh;
    padding: 40px 0 40px 0px;
    margin-bottom: 25px;
}

#middle-one {
    color: var(--third-color);
    width: 45%;
}

#middle-one__one {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 15px;
}

#middle-one__two img {
    width: 8%;
}

#middle-two {
    width: 30%;
}

#middle-two__one {
    color: var(--first-color);
    font-size: 1.1rem;
    padding-bottom: 15px;
}

#middle-two__two {
    color: var(--first-color);
    font-size: 1.1rem;
}

#middle2 {
    background-color: rgb(163, 235, 253);
    display: flex;
    height: 39vh;
    justify-content: space-between;
}

#middle2_one {
    width: 45%;
    padding: 30px 30px 30px 80px;
}

#middle2_one--one {
    font-weight: 700;
    font-size: 1rem;
    color: var(--second-color);
    padding-bottom: 10px;
}

#middle2_one h2 {
    color: var(--fourth-color);
    font-weight: 700;
    width: 60%;
    padding-bottom: 8px;
}

#middle2_one--two {
    color: var(--first-color);
    font-size: 1.1rem;
    padding-bottom: 15px;
}

#middle2_one--three {
    background-color: var(--third-color);
    color: var(--sixth-color);
    padding: 15px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 800px;
    width: 30%;
}

#img {
    padding: 15px 0 0 80px;
}

/* Media Quries */

@media (max-width:976px) {
    #middle2_one--three {
        font-size: 0.7rem;
        width: 30%;
    }
}

@media (max-width:831px) {
    #ri-section {
        padding: 40px 0 0 70px;
    }

    #ri-section__two {
        margin-top: 63px;
    }

    #ri-section__two h2 {
        font-weight: 800;
        font-size: 1.8rem;
        width: 80%;
    }

    #ri-section__three {
        flex-direction: column;
        justify-content: center;
    }

    #ri-section__three--one {
        width: 60%;
    }

    #ri-section__three--two {
        width: 60%;
        font-weight: 600;
    }

    #middle {
        display: flex;
        flex-direction: column;
        height: 50vh;
        width: 100%;
        padding: 60px 20px 60px 80px;
        margin-bottom: 0px;
    }

    #middle-one {
        display: flex;
        color: var(--third-color);
        width: 100%;
        padding-bottom: 20px;
    }

    #middle-one__one {
        width: 80%;
    }

    #middle-one__two {
        width: 50vw;
    }


    #middle-one__two img {
        width: 18%;
    }

    #middle-two {
        width: 100%;
    }

    #middle2 {
        background-color: rgb(163, 235, 253);
        display: flex;
        flex-direction: column;
        height: 600px;
        justify-content: space-between;
    }

    #middle2_one {
        width: 100%;
    }

    #middle2_one h2 {
        width: 70%;
        line-height: 2rem;
    }

    #middle2_one--one {
        width: 60%;
    }

    #middle2_one--two {
        width: 92%;
        font-size: 0.9rem;
    }

    #middle2_one--three {
        font-size: 0.7rem;
        width: 20%;
    }

    footer {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:600px) {
    #mobile__section {
        display: block;
    }

    header {
        flex-direction: column;
    }

    #ri-section {
        padding: 2rem 1.5rem 0 1.5rem;
    }

    #ri-section__one,
    #le-section__one {
        display: none;
    }

    #ri-section__mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #ri-section__two {
        margin-top: 20px;
    }

    #ri-section__two h2 {
        line-height: 2.3rem;
    }

    #ri-section__two p,
    #middle-two {
        line-height: 1.5rem;
    }

    #ri-section__three {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 0;
    }

    #ri-section__three--one {
        padding: 8px;
        font-size: 0.7rem;
    }

    #ri-section__three--one {
        width: 26%;
    }

    #ri-section__four {
        width: 75%;
        padding: 0.8rem 0;
    }

    #le-section {
        width: 100vw;
        height: 46vh;
    }

    #le-section__two {
        width: 100vw;
        height: 100vh;
        padding: 2.5rem;
    }

    #middle {
        padding: 7rem 1.5rem 0 1.5rem;
    }

    #middle-one {
        flex-direction: column;
    }

    #middle-one__one {
        width: 80%;
        font-weight: 700;
    }

    #middle-one__two img {
        width: 15%;
    }

    #middle2 {
        margin-top: 5rem;
        height: 630px;
    }

    #middle2_one {
        padding: 2rem 1.5rem 1.5rem 1.5rem;
    }

    #middle2_one--three {
        font-size: 0.6rem;
        width: 30%;
    }

    #img {
        padding-left: 1.5rem;
    }

    footer {
        padding: 2rem 1.5rem 0 1.5rem;
        ;
    }

    /* POP UP */

    #ri-section__mobile-popup {
        display: none;
        position: relative;
        z-index: 10;
        width: 23vw;
        height: 12vh;
        border-radius: 8px;
        padding: 1rem;
        right: 0;
        background-color: aliceblue;
        transition: 0.2s ease;
    }

    #ri-section__mobile-popup_img {
        width: 20%;
    }

    #ri-section__mobile-popup p {
        padding-bottom: 1rem;
    }

    .visible {
        display: block !important;
    }

    #ri-section__mobile-popup img {
        padding-bottom: 0.5rem;
    }

    #ri-section__mobile-one {
        display: flex;
        justify-content: flex-end;
    }
}